@import "core.sass"

*
    margin: 0
    padding: 0
    font-family: Block
    transition-delay:all 0s
    
body
    display: block
    padding: 100px 10px 0px 160px
    min-height: 800px
    
    
    @media screen and (max-width: 800px)
        padding-left: 20px
    
form
    @include centerBlock(0, auto)
    display: flex
    flex-direction: column
    padding: 0px 25px

.searchbar
    overflow-y: hidden
    display: block
    height: 30px

a, a:hover
    font-size: 17px
    text-decoration: none

label
    text-align: center
    font-size: 20px

.form-control
    font-size: 20px

button span
    font-size: 20px
    
.mainFooter
    position: relative
    bottom: 0px
    border-top: 1px solid green

.post-conatiner
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    
.post 
    min-width: 48%
    
    @media screen and (max-width: 800px)
        min-width: 100%

//Helper Classes
.noResize
    resize: none
    
.noRound
    border-radius: 0

.bigText
    font-size: 28px
    
.mediumText
    font-size: 18px
    
.smallText
    font-size: 10px

.small
    max-width: 300px

.medium
    max-width: 450px

.large
    max-width: 600px
    
.xlarge
    max-width: 800px
    
.fill
    min-width: 100%
    
.inline
    display: flex
    flex-direction: row
    justify-content: space-around 

.quarterMissing
    @include centerBlock(0, auto)
    min-width: 75%
    
    
//When screen is smaller than 800px all of the forms become full scale
.small,
.medium,
.large,
.xlarge
    @media screen and (max-width: 800px)
        min-width: 100%
