*
    margin: 0
    padding: 0
    font-family: "Rockwell"
    transition-delay:all 0s
    
body
    padding-top: 100px
    
form
    display: flex
    flex-direction: column
    margin: 0 auto
    max-width: 600px
    padding: 0px 25px

.searchbar
    overflow-y: hidden
    display: block
    height: 30px

label
    text-align: center
    width: 100%