@import "_colors.sass"

.sidebar
    display: inline-block
    position: fixed
    left: 0
    top: 80px
    width: 200px
    height: 700px
    border-right: 2px solid $border
    background: rgb(171, 236, 33)
    
    ul
        font-size: 22px
        color: $fontColor
        list-style: none
        
        .dropDown
            position: relative
            
            h3
                display: block
                width: 100%
                height: 40px
                line-height: 40px
                margin-left: 10px
                
                span
                    font-size: 20px
                    
            .container
                opacity: 0
                visibility: hidden
                transform: translateY(-2em)
                position: absolute
                transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s
                
                a, a:visited
                    display: block
                    border-bottom: 1px solid $border
                    overflow: hidden
                    text-decoration: none
                    color: #6F6F6F
                    height: 35px
                    line-height: 35px
                    transition: all 0s
                    
                    &:first-of-type
                        border-top: 1px solid $border
                        
                    &:hover
                        background: #C9C9C9
                        color: black
                        
                    li
                        margin-left: 15px
                        
                        
            &:hover .container
                visibility: visible
                opacity: 1
                transform: translateY(0%)
                position: relative
                transition-delay: 0s, 0s, 0.3s